.c-item{
  height: 480px;
}

.c-img{
  height: 100%;
  object-fit: cover;
}


/* card input style */

.card {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px;
  text-align: center;
}

.footer{
  display: flex;
  justify-content: center;
  align-items: center;
}